<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="C#/.NET DateTime format strings with selectable cultures and time zones" />
    <title>DateTime.ToString("(╯°□°）╯︵ ┻━┻")</title>
    <!-- via http://www.chris.com/ascii/index.php?art=creatures%2Fdragons

            (  )   /\   _                 (
                \ |  (  \ ( \.(               )                      _____
            \  \ \  `  `   ) \             (  ___                 / _   \
            (_`    \+   . x  ( .\            \/   \____-----------/ (o)   \_
            - .-               \+  ;          (  O                           \____
                HERE BE ME!           )        \_____________  `              \  /
            (__                +- .( -'.- <. - _  VVVVVVV VV V\                 \/
            (_____            ._._: <_ - <- _  (--  _AAAAAAA__A_/                  |
            .    /./.+-  . .- /  +--  - .     \______________//_              \_______
            (__ ' /x  / x _/ (                                  \___'          \     /
            , x / ( '  . / .  /                                      |           \   /
                /  /  _/ /    +                                      /              \/
            '  (__/                                             /                  \
                                                                                                -->
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <HeadOutlet @rendermode="InteractiveAuto" />
    <script>
        window.getBrowserTimeZone = () => Intl.DateTimeFormat().resolvedOptions().timeZone;
        window.getBrowserLanguage = () => navigator.language;
        window.jump = function (target) {
            window.location.hash = target;
            return false;
        }
    </script>
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
