@{
    ViewBag.Title = "Index";
}
@section Style
{
    <style>
        #lists > div {
            float: left;
        }
    </style>
}
<div id="view">
    <h2 class="bindto-currentDateTime"></h2>
    <section class="bindto-lists">
        <div data-bind_each>
            <h2 data-bind_key="name"></h2>
            <div class="sublists" data-bind_key="sublists">
                <ul data-bind_each>
                    <li><span data-bind_key="name"></span></li>
                    <li>
                        <ul data-bind_key="pairs">
                            <li data-bind_each><span data-bind_key="value"></span></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

@section Script
{
    <script>

        //var url = "api/data";
        //microAjax(url, function(res) {
        //    console.log(res);
        //    var data = JSON.parse(res);
        //});

        var model = {
            currentDateTime: (new Date()).getTime(),
            lists: [{
                name: "dates",
                sublists: [{
                    name: "year",
                    pairs: [
                        { formatString: "yyyy", value: "2013" },
                        { formatString: "yy", value: "13" }
                    ]
                }, {
                    name: "month",
                    pairs: [
                        { formatString: "MM", value: "09" },
                        { formatString: "M", value: "9" }
                    ]
                }, {
                    name: "day",
                    pairs: [
                        { formatString: "ddd", value: "Wed" },
                        { formatString: "dd", value: "18" },
                        { formatString: "d", value: "18" }
                    ]
                }]
            }, {
                name: "times",
                sublists: [{
                    name: "hour",
                    pairs: [
                        { formatString: "HH", value: "10" },
                        { formatString: "hh", value: "10" }
                    ]
                }, {
                    name: "minute",
                    pairs: [
                        { formatString: "mm", value: "21" }
                    ]
                }, {
                    name: "second",
                    pairs: [
                        { formatString: "ss", value: "17" }
                    ]
                }]
            }]
        };

        var d = new Iugo(model);

        setInterval(function () { d = new Iugo({ currentDateTime: (new Date()).getTime() }); }, 1000);
    </script>
}
